{% extends 'base.html' %}

{% block title %}List of all system tests{% endblock %}

{% block content %}
<body>

    <h1>Tests found:</h1>

    <p>[<a href="{% url 'django-pyxperiment:reload' %}">Reload</a>]</p>

    <ul>
        {% for test in tests %}
        <li><a href="{% url 'django-pyxperiment:test.view' test.Type %}">{{ test.Type }}</a>
            <ul>
            {% for c in test.Cases %}
                <li>{{ c.Name }}</li>
            {% endfor %}
            </ul>
        </li>
        {% endfor%}
    </ul>

</body>
</html>

{% endblock %}