{% extends 'base.html' %}

{% block title %}List of all system tests{% endblock %}

{% block content %}
<body>

    <h1>Tests found:</h1>

    <ul>
        {% for test in tests %}
        <li><a href="{% url 'django-measure-test:test.view' test.testType %}">{{ test.testType }}</a>
            <ul>
            {% for t in test.findTests %}
                <li>{{ t.name }}</li>
            {% endfor %}
            </ul>
        </li>
        {% endfor%}
    </ul>

</body>
</html>

{% endblock %}