{% extends 'base.html' %}

{% block content %}
<script src="//d3js.org/d3.v3.js" charset="utf-8"></script>

<h1>Test: {{ test.Type }}</h1>

<p>[<a href="{% url 'django-pyxperiment:test.run' test_id=test.Type %}">Run</a>]</p>


<h2>Cases</h2>
<ul>
{% for case in test.Experiments %}
    <li>{{ case.Name }} [<a href="{% url 'django-pyxperiment:test.case.run' test_id=test.Type case_name=case.Name %}">Run</a>]</li>
{% endfor %}
</ul>

{% for v in runs.0.Values %}
<h2>{{ v.Metric.Name }}</h2>
<svg id="diagram_{{ v.Metric.Name }}"/>
{% endfor %}

<h2>Detailed runs</h2>

<table border="1">
    <tr>
        <td></td>
        {% for v in runs.0.Values %}
            <td>{{ v.Metric.Name }}</td>
        {% endfor %}
    </tr>

{% for run in runs %}
<tr>
    <td><a href="{% url 'django-pyxperiment:run.view' run_id=run.Run.id %}">{{ run.Started }}</a></td>
    {% for m in run.Values %}
        <td>{{ m.toStr }}</td>
    {% endfor %}
</tr>
{% endfor %}

</table>

<script language="JavaScript">

function buildGraph(svg_id, data, column)
{
    var margin = {top: 30, right: 30, bottom: 40, left: 50},
        width = 960 - margin.left - margin.right,
        height = 300 - margin.top - margin.bottom;

    var x = d3.scale.linear()
        .domain([0, data.length-1])
        .range([0, width]);

    var data_y = data.map(function(d) { return d.values[column]; });

    var y = d3.scale.linear()
        .domain([0, Math.ceil(d3.max(data_y))])
        .range([height, 0]);

    var xAxis = d3.svg.axis()
        .scale(x)
        .orient("bottom");

    var yAxis = d3.svg.axis()
        .scale(y)
        .orient("left")
        .tickSize(-width, 0)
        .ticks(5)
        .tickFormat( d3.format(".0") );

    for(var i = 0; i<data.length; ++i)
        data[i].idx = i;

    var line = d3.svg.line()
        .x(function(d) { return x(d.idx); })
        .y(function(d) { return y(d.values[column]); });

    var area = d3.svg.area()
        .x(function(d) { return x(d.label); })
        .y(function(d) { return y(d.values[column]); });

    var svg = d3.select(svg_id)
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)

    svg.append("g").append("rect")
        .attr("x", "0")
        .attr("y", "0")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .attr("fill", "#eeeeee")
        .attr("stroke", "#cccccc")
        .attr("stroke-width", "1");

    svg = svg.append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    var gX = svg.append("g")
        .attr("class", "axis axis--x")
        .attr("transform", "translate(0," + height + ")")
        .call(xAxis);

    var gY = svg.append("g")
        .attr("class", "axis axis--y")
        .call(yAxis);

    svg.data(data).append("path")
        .attr("class", "line")
        .attr("stroke", "#8888bb")
        .attr("stroke-width", "3")
        .attr("fill", "none")
        .attr("d", line(data));

}

$(document).ready(function() {
    jQuery.ajax({
        url: "{% url 'django-pyxperiment:test.values' test_id=test.Type %}",
        dataType: 'json',
        success: function(data) {
            for(var i = 0; i<data.data.metrics.length; ++i)
            {
                var metric_name = data.data.metrics[i];
                buildGraph("#diagram_" + metric_name, data.data.values, metric_name);
            }
        }
    });

})


</script>

{% endblock %}