<h1>Test: {{ test.Type }}</h1>

<p>[<a href="{% url 'django-pyxperiment:test.run' test_id=test.Type %}">Run</a>]</p>

<h2>Metrics</h2>
<ul>
{% for m in test.Metrics %}
    <li>{{ m.Name }}</li>
{% endfor %}
</ul>
<h2>Cases</h2>
<ul>
{% for case in test.Experiments %}
    <li>{{ case.Name }} [<a href="{% url 'django-pyxperiment:test.case.run' test_id=test.Type case_name=case.Name %}">Run</a>]</li>
{% endfor %}
</ul>

<h2>Runs</h2>
<ul>
{% for run in runs %}
    <li><a href="{% url 'django-pyxperiment:run.view' run_id=run.id %}">{{ run.Started }}</a></li>
{% endfor %}
</ul>