<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>

<h1>Test: {{ test.Type }}</h1>

<p>[<a href="{% url 'django-pyxperiment:test.run' test_id=test.Type %}">Run</a>]</p>


<h2>Cases</h2>
<ul>
{% for case in test.Experiments %}
    <li>{{ case.Name }} [<a href="{% url 'django-pyxperiment:test.case.run' test_id=test.Type case_name=case.Name %}">Run</a>]</li>
{% endfor %}
</ul>

{% for v in runs.0.Values %}
<h2>{{ v.Metric.Name }}</h2>
<svg id="diagram_{{ v.Metric.Name }}"/>
{% endfor %}

<h2>Detailed runs</h2>

<table border="1">
    <tr>
        <td></td>
        {% for v in runs.0.Values %}
            <td>{{ v.Metric.Name }}</td>
        {% endfor %}
    </tr>

{% for run in runs %}
<tr>
    <td><a href="{% url 'django-pyxperiment:run.view' run_id=run.Run.id %}">{{ run.Started }}</a></td>
    {% for m in run.Values %}
        <td>{{ m.toStr }}</td>
    {% endfor %}
</tr>
{% endfor %}

</table>

<script language="JavaScript">

function buildGraph(svg)
{
    var margin = {top: 30, right: 30, bottom: 40, left: 50},
        width = 960 - margin.left - margin.right,
        height = 500 - margin.top - margin.bottom;

    var formatPercent = d3.format("+.0%"),
        formatChange = function(x) { return formatPercent(x - 1); },
        parseDate = d3.time.format("%d-%b-%y").parse;

    var x = d3.time.scale()
        .range([0, width]);

    var y = d3.scale.log()
        .range([height, 0]);

    var xAxis = d3.svg.axis()
        .scale(x)
        .orient("bottom");

    var yAxis = d3.svg.axis()
        .scale(y)
        .orient("left")
        .tickSize(-width, 0)
        .tickFormat(formatChange);

    var line = d3.svg.line()
        .x(function(d) { return x(d.date); })
        .y(function(d) { return y(d.ratio); });

    var area = d3.svg.area()
        .x(function(d) { return x(d.date); })
        .y(function(d) { return y(d.ratio); });

    var svg = d3.select(svg)
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    var gX = svg.append("g")
        .attr("class", "axis axis--x")
        .attr("transform", "translate(0," + height + ")");

    var gY = svg.append("g")
        .attr("class", "axis axis--y");

    gY.append("text")
        .attr("class", "axis-title")
        .attr("transform", "rotate(-90)")
        .attr("y", 6)
        .attr("dy", ".71em")
        .text("Change in Price");

    d3.tsv("data.tsv", function(error, data) {
        if (error) throw error;

        // Compute price relative to base value (hypothetical purchase price).
        var baseValue = +data[0].close;
        data.forEach(function(d) {
            d.date = parseDate(d.date);
            d.ratio = d.close / baseValue;
        });

        x.domain(d3.extent(data, function(d) { return d.date; }));
        y.domain(d3.extent(data, function(d) { return d.ratio; }));

        area.y0(y(1));

        // Use a second linear scale for ticks.
        yAxis.tickValues(d3.scale.linear()
            .domain(y.domain())
            .ticks(20));

        gX.call(xAxis);

        gY.call(yAxis)
            .selectAll(".tick")
            .classed("tick--one", function(d) { return Math.abs(d - 1) < 1e-6; });

        var defs = svg.append("defs");

        defs.append("clipPath")
            .attr("id", "clip-above")
            .append("rect")
            .attr("width", width)
            .attr("height", y(1));

        defs.append("clipPath")
            .attr("id", "clip-below")
            .append("rect")
            .attr("y", y(1))
            .attr("width", width)
            .attr("height", height - y(1));

        svg.append("path")
            .datum(data)
            .attr("clip-path", "url(#clip-above)")
            .attr("class", "area area--above")
            .attr("d", area);

        svg.append("path")
            .datum(data)
            .attr("clip-path", "url(#clip-below)")
            .attr("class", "area area--below")
            .attr("d", area);

        svg.append("path")
            .datum(data)
            .attr("class", "line")
            .attr("d", line);
});


}

buildGraph("diagram_Succeded");

</script>